<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src = "img/logo.png" alt = "picture of a bird">
    </header>
   {{{body}}}
</body>
</html>