<h1>Fill in your information below:</h1>
<form action="nowhere">
    <div>
    <label for="name">Name:</label>
    <input type="name" id="name" required><br>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" required><br>
    <br>
    <label for="destination">Destination:</label>
    <input type="destination" id="destination" required><br>
    <br>    
    </div>
    <div>
        <button id="submit">Submit</button>
    </div>
</form>
<p>We'll get back to you!</p>